<div class="container">
    <div class="copyright float-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script> - Feito a partir do
        <a href="https://github.com/creativetimofficial/material-kit" target="_blank">Material Kit</a>.
    </div>
</div>
<!--   Core JS Files   -->
<script src="../node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="../material-assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../material-assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="../material-assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="../material-assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../material-assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="../material-assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
<script src="../node_modules/slick-carousel/slick/slick.min.js" type="text/javascript"></script>
<script src="../js/scripts.js" type="module"></script>