<meta charset="utf-8" />
<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>
    Tulio Paschoalin Leão
</title>

<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

<!-- Fonts and icons -->
<link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<!-- CSS Files -->
<link href="./material-assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="./dist/css/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="./dist/css/slick-carousel/slick/slick-theme.css"/>
<link href="./styles/css/styles.css" rel="stylesheet" type="text/css"/>