<div class="section text-center" id="section-about">
    <div class="row mb-lg-2">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title"><i class="material-icons">portrait</i> <span data-i18n="about.title">Sobre Mim</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img id="about-image" src="assets/tulio.jpg"></img>
        </div>
        <div class="col-md-6 col-sm-12" id="about-content">
            <p class="title">Tulio Paschoalin Leão</p>
            <p class="description">
                Esse é o site pessoal do Tulio, feito pra funcionar com o GitHub sites. Tudo aqui é customizável e feito
                pra fácil atualização sem precisar sofrer com HTML e CSS. A intenção é mostrar pro mundo quem é essa
                pessoa que todos amamos :)
                <br><br>
                As seções de projetos, novidades e carreira são todas construídas a partir de arquivos JSON e montadas dinâmicamente.
                O parquinho de projetos também é montado aleatoriamente a cada refresh da página.
                <br><br>
                Espero que aproveite Tulio, e prometo que o código tá bem organizado!
            </p>
            <div class="skills">
                <div class="skill-name" data-i18n="about.motivation">Motivação</div>
                <div class="progress progress-line-primary">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>
                <div class="skill-name">C++</div>
                <div class="progress progress-line-primary">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                        <span class="sr-only">75%</span>
                    </div>
                </div>
                <div class="skill-name">Python</div>
                <div class="progress progress-line-primary">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="45"
                        aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                        <span class="sr-only">45%</span>
                    </div>
                </div>
                <div class="skill-name">Qt</div>
                <div class="progress progress-line-primary">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                        <span class="sr-only">85%</span>
                    </div>
                </div>
                <div class="skill-name" data-i18n="about.giving-back">Dar de volta</div>
                <div class="progress progress-line-primary">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>
                <div class="skill-name">GCC</div>
                <div class="progress progress-line-primary">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>