<!-- @include nav-header.html -->
<!-- @include top-section.html -->
<div class="main main-raised">
    <div class="container">
        <!-- @include blog.html -->
    </div>
    <hr class="section-separator">
    <div class="container" id="main-career">
        <!-- @include career.html -->
    </div>
    <hr class="section-separator">
    <div class="container" id="main-projects">
        <!-- @include projects.html -->
    </div>
    <hr class="section-separator">
    <div class="container" id="main-contact">
        <!-- @include contact.html -->
    </div>
</div>