<!-- @include nav-header.html -->
<!-- @include top-section.html -->
<div class="main main-raised">
    <div id="main-blog">
        <div class="container">
            <!-- @include blog.html -->
        </div>
    </div>
    <div id="main-career">
        <div class="container">
            <!-- @include career.html -->
        </div>
    </div>
    <div id="main-projects">
        <div class="container">
            <!-- @include projects.html -->
        </div>
    </div>
    <div id="main-contact">
        <div class="container">
            <!-- @include contact.html -->
        </div>
    </div>
</div>