<div class="section section-contacts" id="section-contacts">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title"><i class="material-icons">mail</i> <span data-i18n="contact.title">Entre em Contato</span></h2>
            <h4 class="text-center" data-i18n="contact.description">Quer entrar em contato? Perguntar alguma coisa sobre os projetos? Me manda um e-mail!</h4>
            <form class="contact-form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating" for="contact-subject" data-i18n="contact.subject">Assunto</label>
                            <input type="text" class="form-control" id="contact-subject">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact-message" class="bmd-label-floating" data-i18n="contact.message">Sua mensagem</label>
                    <textarea type="email" class="form-control" rows="4" id="contact-message"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto text-center">
                        <button type="button" class="btn btn-primary btn-raised" id="button-contact" data-i18n="contact.send-message">
                            Enviar Mensagem
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>