<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
    id="sectionsNav">
    <div class="container">
        <div class="navbar-title" id="navbar-title">
            Tulio Paschoalin Leão
        </div>
        <div class="navbar-translate">
            <div></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="sr-only">Alterne a navegação</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#section-blog">
                        <i class="material-icons">event_available</i> Novidades
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section-career">
                        <i class="material-icons">work</i> Carreira
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link" href="#section-projects">
                        <i class="material-icons">build</i> Projetos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="https://www.linkedin.com/in/tulioleao" target="_blank"
                        data-original-title="Entre em contato pelo Linkedin" rel="nofollow">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="https://github.com/tupaschoal" target="_blank"
                        data-original-title="Veja meus projetos no Github" rel="nofollow">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>