<div class="page-header header-filter" data-parallax="true">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="title">Tulio Paschoalin Leão</h1>
                <h4>
                    Dê-me um desafio.<br>
                    Ficarei feliz em resolvê-lo, empolgado em apresentá-lo e encantado em explicá-lo.<br>
                    <br>
                    <a href="#main-blog" class="top-section-link"><i class="fa fa-arrow-down"></i>&nbsp;&nbsp;Desça para saber mais.</a>
                </h4>
                <br>
            </div>
        </div>
    </div>
</div>