$secondary-bg-color: #1b377512;
$secondary-title-color: #1b3775;
$link-color: #102146;
$link-hover-color: #23448b;
$link-active-color: #131d33;

a {
    color: $link-color;

    &:hover {
        color: $link-hover-color;
    }
    &:active {
        color: $link-active-color;
    }
}
