@import "colors";
@import "vertical-timeline";
.navbar-nav,
.navbar-title {
    user-select: none;
}

.navbar-transparent .navbar-title {
    font-weight: 100;
    cursor: initial;
}

.navbar-title {
    font-weight: bold;
    cursor: pointer;
}

.i18n-item {
    cursor: pointer;
}

.page-header {
    background-image: url(../../assets/tulio.png), url(../../assets/bg2.png);
    background-size: 800px, 2000px;
    background-position-x: right, left;
    background-position-y: bottom, bottom;
    background-repeat: no-repeat, no-repeat;
    background-color: #0d0e0e;
    .top-section-link,
    .top-section-link:hover,
    .top-section-link:active {
        color: white;
    }
    @media (max-width: 991px) {
        background-size: 600px, 2000px;
    }
}

#main-about {
    .title {
        margin-bottom: 45px;
    }
    #about-image {
        max-width: 100%;
        height: auto;
    }
    #about-content {
        text-align: left;
        .title {
            font-size: 2.25rem;
            margin: 0 auto 25px;
            
            @media (max-width: 991px) {
                font-size: 1.7rem;
            }
            @media (max-width: 768px) {
                margin-top: 30px;
            }
        }
        .description {
            font-size: 18px;
            margin-bottom: 50px;
        }
        .skill-name {
            font-weight: 400;
            margin-bottom: 3px;
        }
    }
}

#main-blog {
    background-color: $secondary-bg-color;
    h2.title {
        color: $secondary-title-color;
    }
    #section-blog {
        .date {
            font-weight: bold;
        }
        $lg-breaking-max-width: 1500px;
        $lg-breaking-min-width: 1200px;
        $sm-breaking-max-width: 576px;
        .slick-prev:before,
        .slick-next:before {
            color: $secondary-title-color !important;
            font-size: 35px;
        }
        .slick-next {
            right: -20px;
        }
        .slick-prev {
            left: -32px;
        }
        #blog-content {
            @media (max-width: $lg-breaking-max-width) and (min-width: $lg-breaking-min-width) {
                max-width: 1000px;
                margin: auto;
            }
            @media (max-width: $sm-breaking-max-width) {
                max-width: 80%;
                margin: auto;
            }
            .description {
                color: #444;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 15;
                display: -webkit-box;
                padding: 25px;
                @media (max-width: $lg-breaking-min-width) {
                    -webkit-line-clamp: 10;
                }
            }
            .video-container {
                position: relative;
                padding-top: 47.25%;
                width: 85%;
                margin: 20px auto 20px auto;
            }
            .video-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                border: 0;
                width: 100%;
                height: 100%;
            }
            .read-more {
                font-size: 40px;
                padding: 35px;
            }
            .slick-list {
                border-radius: 50px;
                background: #fffefec7;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }
}

#main-career {
    background-color: $secondary-bg-color;
    .title {
        color: $secondary-title-color;
    }
}

#main-contact {
    .bmd-form-group:not(.has-success):not(.has-danger) [class^='bmd-label'].bmd-label-floating,
    .bmd-form-group:not(.has-success):not(.has-danger) [class*=' bmd-label'].bmd-label-floating {
        color: #636363;
    }
    .form-control,
    .is-focused .form-control {
        background-image: linear-gradient(to top, #302f30 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #c1c0c0 1px, rgba(210, 210, 210, 0) 1px);
    }
}

#main-projects {
    @media (min-width: 1200px) {
        .container {
            max-width: 1440px;
        }
    }
    #playground,
    #information {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 600px;
    }
    #playground {
        background-color: rgba(34, 170, 34, 0.103);
        border-radius: 45px;
        position: relative;
        .playground-item {
            background-color: rgba(34, 170, 34, 0.288);
            position: absolute;
            width: fit-content;
            cursor: pointer;
            transition: transform 200ms;
            .playground-icon {
                position: absolute;
                z-index: 1;
                height: 80%;
                max-width: 100%;
            }
            .project-icon {
                position: absolute;
                z-index: 2;
                height: 40%;
                max-width: 100%;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
        .playground-random-item {
            position: absolute;
            width: fit-content;
            .playground-icon {
                position: absolute;
                height: 50%;
                max-width: 100%;
                opacity: 0.3;
            }
        }
        .playground-top-left,
        .playground-bottom-right {
            border-bottom-left-radius: 45px;
            border-top-right-radius: 45px;
        }
        .playground-top-right,
        .playground-bottom-left {
            border-bottom-right-radius: 45px;
            border-top-left-radius: 45px;
        }
        .playground-top-left,
        .playground-top-right {
            .playground-icon {
                top: 0;
            }
            .project-icon {
                bottom: 0;
            }
        }
        .playground-bottom-left,
        .playground-bottom-right {
            .playground-icon {
                bottom: 0;
            }
            .project-icon {
                top: 0;
            }
        }
        .playground-top-left,
        .playground-bottom-left {
            .playground-icon {
                left: 0;
            }
            .project-icon {
                right: 0;
            }
        }
        .playground-top-right,
        .playground-bottom-right {
            .playground-icon {
                right: 0;
            }
            .project-icon {
                left: 0;
            }
        }
        @media (max-width: 990px) {
            display: none!important;
        }
    }
    #information {
        background-color: $secondary-bg-color;
        border-radius: 45px;
        padding: 20px;
        .project-information-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            .project-information-img {
                height: 40%;
                text-align: center;
                img {
                    height: 100%;
                }
                @media (max-width: 990px) {
                    height: 100px;
                    max-width: 100%;
                    margin: 25px 0 25px;
                }
            }
            .project-information-gh-buttons {
                display: flex;
                flex-direction: row;
                text-align: center;
                margin: 0 auto 0;
            }
            p {
                font-size: 18px;
                @media (max-width: 990px) {
                    margin: 25px 0 25px;
                }
            }
            @media (max-width: 990px) {
                display: flex!important;
            }
        }

        @media (max-width: 990px) {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            height: fit-content;
        }
    }
}